body {
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
    display: flex;
    flex-direction: column;
    height: 100vh; /* Define a altura total da visualização */
}

/*---------------------------------------------------------NAVBAR---------------------------------------------------------------*/
.navbar {
    display: flex;
    height: 40px;
    width: 100vw;
    position: fixed;
    top: 0;
    background-color: #333;
    color: white;
}

/*---------------------------------------------------------PAGINA---------------------------------------------------------------*/
.page {
    display: flex;
    position: fixed;
    top: 40px;
    bottom: 10px; /* Define a parte inferior como 10px acima do rodapé */
    width: 100%;
}

/*---------------------------------------------------------SLIDEBAR---------------------------------------------------------------*/
.slidebar {
    width: 20px;
    background-color: green;
    color: white;
    transition: width 0.3s ease, background-color 0.3s ease; /* Adiciona a transição */
    text-align: center;
}

.slidebar:hover {
    background-color: blue;
    width: 200px;
}

/*---------------------------------------------------------CONTENT---------------------------------------------------------------*/
.content {
    flex: 1;
    background-color: #fff;
    overflow-y: auto; /* Se o conteúdo for maior, ativar o scroll vertical */
}

/*---------------------------------------------------------RODAPÉ---------------------------------------------------------------*/
.rodape {
    height: 10px; /* Define a altura do rodapé */
    background-color: #333; /* Cor de fundo do rodapé */
    width: 100%; /* Largura total */
    position: relative; /* Para que ele fique no final da página */
}
