/*------------------------------------------------------------IMPORTS-----------------------------------------------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&display=swap');


/*------------------------------------------------------------PATERNOS-----------------------------------------------------------------*/

body {
  padding: 0;
  margin: 0;
}

.goldman-regular {
  font-family: "Goldman", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: #f1f1f1;
  text-align: center;
}

/*------------------------------------------------------------NAVBAR-----------------------------------------------------------------*/

.navbar__modulos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  height: 40px;
}

.modulo {
  width: 150px;
}

.exit-button {
  background: none;
  border: none;
  cursor: pointer;
  margin-right: 10px; /* Adiciona uma margem à esquerda de 10px */
  transition: transform 0.3s ease; /* Adiciona uma transição suave */
}

.exit-button img {
  width: 24px; /* Ajuste o tamanho conforme necessário */
  height: 24px;
}

.exit-button.shrink {
  transform: scale(0.90) rotate(-25deg); /* Reduz o tamanho e rotaciona 45 graus */
}

/*------------------------------------------------------------SLIDEBAR-----------------------------------------------------------------*/

.slidebar {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 100vh; /* Altura da viewport */
  background-color: black;
  opacity: 0.95; /* Transparência de 95% */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra leve */
  position: fixed; /* Fixa a slidebar */
  left: 0; /* Posiciona à esquerda */
  top: 0; /* Começa do topo */
  transform: translateY(-100%); /* Inicialmente oculta */
  transition: transform 0.3s ease; /* Transição suave */
  z-index: 1000; /* Coloca a slidebar acima de outros elementos */
}

.menu-toggle {
  display: none; /* Escondido por padrão, aparece no mobile */
  background: none;
  border: none;
  color: #f1f1f1;
  font-size: 24px; /* Tamanho do ícone */
  margin: 10px; /* Margem para o botão */
  cursor: pointer;
}

.slidebar a {
  color: #f1f1f1; /* Cor do texto */
  text-decoration: none; /* Remove sublinhado */
  padding: 10px; /* Espaçamento interno */
  display: block; /* Exibe como bloco */
  transition: background-color 0.3s ease; /* Transição suave para a cor de fundo */
  font-family: "Goldman", sans-serif;
  font-style: normal;
  font-size: 12px; /* Tamanho da fonte ajustado */
}

.slidebar a:hover {
  background-color: #f0f0f0; /* Cor de fundo ao passar o mouse */
  color: #000; /* Cor do texto ao passar o mouse */
}

/* Estilos para os submenus */
.submenu {
  display: none; /* Inicialmente oculto */
  background-color: #333; /* Cor de fundo dos submenus */
  padding-left: 20px; /* Indentação para diferenciar do menu principal */
}

.submenu a {
  font-size: 11px; /* Tamanho da fonte ajustado para submenus */
  padding: 8px 10px; /* Ajuste de padding */
  color: #ddd; /* Cor mais clara para submenus */
}

.submenu a:hover {
  background-color: #444; /* Cor de fundo ao passar o mouse no submenu */
  color: #fff; /* Cor de texto ao passar o mouse */
}

/* Estilo para o menu item ativo */
.menu-item a.active {
  background-color: #f0f0f0; /* Cor de fundo ao clicar */
  color: #000; /* Cor do texto ao clicar */
}

/* Responsividade para dispositivos móveis */
@media (max-width: 768px) {
  .menu-toggle {
    display: block; /* Mostra o botão sanduíche no mobile */
  }

  .slidebar.active {
    transform: translateY(0); /* Mostra a slidebar */
  }

  .navbar__modulos {
    position: fixed; /* Fixa a navbar no topo */
    width: 100%; /* Largura total */
    z-index: 1000; /* Acima de outros elementos */
  }
}

/* Responsividade para a versão web */
@media (min-width: 769px) {
  .slidebar {
    position: relative; /* Permite o comportamento padrão */
    transform: translateX(0); /* Slidebar normal */
    width: 180px; /* Recuo para a esquerda */
  }
}
/*------------------------------------------------------------CONTENT-----------------------------------------------------------------*/
